
{% macro place_indicator(id) -%}
    <img src="{{ url_for('static', filename='loader.gif') }}" id="{{ id }}" style="vertical-align: middle" />
{%- endmacro %}


{% macro make_options(options) %}
    <div id="options" class="container">
        <label for="select_paths">Get plots of </label>
        <select id="select_paths">
            <option value="all">all</option>
            {% for name, path in options %}
                <option value="{{ path }}">{{ name }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}


{% macro make_options_js(url_all, url_else, func_name) %}
        $('#select_paths').live('change', function () {
            var value = $(this).val();
            var url = '';
            if (value === "all") {
                url = '{{ url_all }}';
            } else {
                url = '{{ url_else }}';
            }
            {{ func_name }}(url, { full_path: value });
        })
{% endmacro %}


{% macro make_tabs(width="1050px") %}
    <ul id="line_tabs" class="nav nav-tabs">
        <li class="active">
            <a href="#line_overview_div" data-toggle="tab">overview</a>
        </li>
        <li>
            <a href="#line_live_div" data-toggle="tab">line!live</a>
        </li>
        <li>
            <a href="#line_live2_div" data-toggle="tab">line!live2</a>
        </li>
        <li>
            <a href="#line_map_div" data-toggle="tab">line!map</a>
        </li>
        <li>
            <a href="#line_map2_div" data-toggle="tab">line!map2</a>
        </li>
        <li>
            <a href="#line_query_div" data-toggle="tab">line!query</a>
        </li>
    </ul>
    <div id="line_tab_contents" class="tab-content">
        <div class="tab-pane fade in active" style="height: 500px; width: {{ width }};" id="line_overview_div">
            {{ place_indicator('indicator_line_overview') }}
        </div>
        <div class="tab-pane fade in" style="height: 500px; width: {{ width }};" id="line_live_div">
            {{ place_indicator('indicator_line_live') }}
        </div>
        <div id="line_live2_div" style="height: 500px; width: {{ width }};" class="tab-pane fade in">
            {{ place_indicator('indicator_line_live2') }}
        </div>
        <div id="line_map_div" style="height: 500px; width: {{ width }};" class="tab-pane fade in">
            {{ place_indicator('indicator_line_map') }}
        </div>
        <div id="line_map2_div" style="height: 500px; width: {{ width }};" class="tab-pane fade in">
            {{ place_indicator('indicator_line_map2') }}
        </div>
        <div id="line_query_div" style="height: 500px; width: {{ width }};" class="tab-pane fade in">
            {{ place_indicator('indicator_line_query') }}
        </div>
    </div>

    <ul id="news_tabs" class="nav nav-tabs">
        <li class="active">
            <a href="#news_overview_div" data-toggle="tab">overview</a>
        </li>
        <li>
            <a href="#news_detail_div" data-toggle="tab">news!detail</a>
        </li>
        <li>
            <a href="#news_list_div" data-toggle="tab">news!list</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" style="height: 500px; width: {{ width }};" id="news_overview_div">
            {{ place_indicator('indicator_news_overview') }}
        </div>
        <div id="news_detail_div" style="height: 500px; width: {{ width }};" class="tab-pane fade in">
            {{ place_indicator('indicator_news_detail') }}
        </div>
        <div id="news_list_div" style="height: 500px; width: {{ width }};" class="tab-pane fade in">
            {{ place_indicator('indicator_news_list') }}
        </div>
    </div>

    <ul id="stop_tabs" class="nav nav-tabs">
        <li class="active">
            <a href="#stop_overview_div" data-toggle="tab">overview</a>
        </li>
        <li>
            <a href="#stop_lines_div" data-toggle="tab">stop!lines</a>
        </li>
        <li>
            <a href="#stop_list4name_div" data-toggle="tab">stop!list4name</a>
        </li>
        <li>
            <a href="#stop_nearby_div" data-toggle="tab">stop!nearby</a>
        </li>
        <li>
            <a href="#stop_stoplist_div" data-toggle="tab">stop!stoplist</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="stop_overview_div" style="height: 500px; width: {{ width }};" class="tab-pane fade in active">
            {{ place_indicator('indicator_stop_overview') }}
        </div>
        <div id="stop_lines_div" style="height: 500px; width: {{ width }};" class="tab-pane fade in">
            {{ place_indicator('indicator_stop_lines') }}
        </div>
        <div id="stop_list4name_div" style="height: 500px; width: {{ width }};" class="tab-pane fade in">
            {{ place_indicator('indicator_stop_list4name') }}
        </div>
        <div id="stop_nearby_div" style="height: 500px; width: {{ width }};" class="tab-pane fade in">
            {{ place_indicator('indicator_stop_nearby') }}
        </div>
        <div id="stop_stoplist_div" style="height: 500px; width: {{ width }};" class="tab-pane fade in">
            {{ place_indicator('indicator_stop_stoplist') }}
        </div>
    </div>

    <ul id="stop2stop_tabs" class="nav nav-tabs">
        <li class="active">
            <a href="#stop2stop_overview_div" data-toggle="tab">overview</a>
        </li>
        <li>
            <a href="#stop2stop_lines4less_div" data-toggle="tab">stop2stop!lines4less</a>
        </li>
        <li>
            <a href="#stop2stop_name2id_div" data-toggle="tab">stop2stop!name2id</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="stop2stop_overview_div" style="height: 500px; width: {{ width }};" class="tab-pane fade in active">
            {{ place_indicator('indicator_stop2stop_overview') }}
        </div>
        <div id="stop2stop_lines4less_div" style="height: 500px; width: {{ width }};" class="tab-pane fade in">
            {{ place_indicator('indicator_stop2stop_lines4less') }}
        </div>
        <div id="stop2stop_name2id_div" style="height: 500px; width: {{ width }};" class="tab-pane fade in">
            {{ place_indicator('indicator_stop2stop_name2id') }}
        </div>
    </div>

    <div id="client_div" style="height: 500px; width: {{ width }};" class="">
        {{ place_indicator('indicator_client') }}
    </div>
    <div id="param_div" style="height: 500px; width: {{ width }};" class="">
        {{ place_indicator('indicator_param') }}
    </div>
{% endmacro %}
