{% macro place_indicator(id) -%}
    <img src="{{ url_for('static', filename='loader.gif') }}" id="{{ id }}" style="vertical-align: middle" />
{%- endmacro %}


{% macro make_options(options) %}
    <div id="options" class="container">
        <label for="select_paths">Get plots of </label>
        <select id="select_paths">
            <option value="all">all</option>
            {% for name, path in options %}
                <option value="{{ path }}">{{ name }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}


{% macro make_options_js(url_all, url_else, func_name) %}
        $('#select_paths').live('change', function () {
            var value = $(this).val();
            var url = '';
            if (value === "all") {
                url = '{{ url_all }}';
            } else {
                url = '{{ url_else }}';
            }
            {{ func_name }}(url, { full_path: value }, charts);
        })
        $('#select_paths').find('option:nth-child(2)').change();
{% endmacro %}


{% macro make_tab(main_id, sub_ids) %}
    <ul id="{{ main_id }}_tabs" class="nav nav-tabs">
        {% for sub_id in sub_ids %}
            {% if loop.first %}
                {% set class = 'active' %}
            {% else %}
                {% set class = '' %}
            {% endif %}

            <li class="{{ class }}">
                <a href="#{{ main_id }}_{{ sub_id }}_div" data-toggle="tab">
                    {%- if loop.first -%}
                        {{ sub_id }}
                    {%- else -%}
                        {{ main_id }}!{{ sub_id }}
                    {%- endif -%}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div id="{{ main_id }}_tab_contents" class="tab-content plot-parent">
        {% for sub_id in sub_ids %}
            {% if loop.first %}
                {% set class = ' active' %}
            {% else %}
                {% set class = '' %}
            {% endif %}
            <div class="tab-pane fade in plot-div{{ class }}" id="{{ main_id }}_{{ sub_id }}_div">
                {% set indicator_id = ['indicator', main_id, sub_id]|join('_') %}
                {{ place_indicator(indicator_id) }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}


