{% extends "base.html" %}
{% import "framework.html" as fw %}

{% block style %}
    {{ super() }}
    <style type="text/css">
        div[id*="div"] {
        }
    </style>
{% endblock %}

{% block body_content %}
    {{ super() }}

    <div class="container" id="main">
        {{ fw.make_options(options) }}
        <div id="total_per_hour" style="height: 500px; width: 1050px;" class="">
            {{ fw.place_indicator('indicator_total_per_hour') }}
        </div>
        {{ fw.make_tabs() }}
    </div>
{% endblock %}



{% block bootstrap_js_bottom %}
    {{ super() }}

    <script type="text/javascript" src="/static/charts.js"></script>
    <script type="text/javascript">
    {{ fw.make_options_js('get_total_data',
                          'get_single_data',
                          'plot_single_data_charts') }}
    $('ul.nav>li').first().addClass('active');
    </script>

    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.highlighter.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.pointLabels.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>

{% endblock %}
