{% extends "base.html" %}
{% import "framework.html" as fw %}

{% block style %}
    {{ super() }}
    <style type="text/css">
        .center {
            width: 1200px;
            margin: 0 auto;
        }

        .plot-div {
            width: 1050px;
            height: 500px;
            margin: 0 auto;
        }

        .plot-parent {
            width: 1200px;
            height: 550px;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block body_content %}
    {{ super() }}

    <div class="container center" id="main">
        {{ fw.make_options(options) }}
        {% for main, subs in [
                ('total', ('overview', 'perhour')),
                ('line', ('overview', 'live', 'live2', 'map', 'map2', 'query')),
                ('news', ('overview', 'detail', 'list')),
                ('stop', ('overview', 'lines', 'list4name', 'nearby', 'stoplist')),
                ('stop2stop', ('overview', 'lines4less', 'name2id'))] %}
            {{ fw.make_tab(main, subs) }}
        {% endfor %}
        <div id="client_div" class="plot-div">
            {{ fw.place_indicator('indicator_client') }}
        </div>
        <div id="param_div" class="plot-div" style="margin-top: 50px">
            {{ fw.place_indicator('indicator_param') }}
        </div>
    </div>
{% endblock %}



{% block bootstrap_js_bottom %}
    {{ super() }}

    <script type="text/javascript" src="/static/charts.js"></script>
    <script type="text/javascript">
    var charts = {
        stop: {},
        line: {},
        news: {},
        stop2stop: {},
        total: {},
        client: undefined,
        param: undefined
    };

    {{ fw.make_options_js('get_total_data',
                          'get_single_data',
                          'plot_single_data_charts',
                          'charts') }}
    $('ul.nav>li').first().addClass('active');
    </script>

    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.highlighter.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.pointLabels.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>

{% endblock %}
