{% extends "base.html" %}
{% import "framework.html" as fw %}

{% block style %}
    {{ super() }}
    <style type="text/css">
        .center {
            width: 1200px;
            margin: 0 auto;
        }

        .plot-div {
            width: 1050px;
            height: 500px;
            margin: 0 auto;
        }

        .plot-parent {
            width: 1200px;
            height: 550px;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block body_content %}
    {{ super() }}

    <div class="container center" id="main">
        {{ fw.make_options(options) }}
        <ul id="total_tabs" class="nav nav-tabs">
            <li class="active">
                <a href="#total_overview_div" data-toggle="tab">overview</a>
            </li>
            <li>
                <a href="#total_perhour_div" data-toggle="tab">overview per hour</a>
            </li>
        </ul>
        <div id="total_tab_contents" class="tab-content plot-parent">
            <div id="total_overview_div" style="height: 500px; width: 1050px;" class="tab-pane fade in active plot-div" >
                {{ fw.place_indicator('indicator_total_overview') }}
            </div>
            <div id="total_perhour_div" style="height: 500px; width: 1050px;" class="tab-pane fade in plot-div">
                {{ fw.place_indicator('indicator_total_perhour') }}
            </div>
        </div>
        {{ fw.make_tabs() }}
    </div>
{% endblock %}



{% block bootstrap_js_bottom %}
    {{ super() }}

    <script type="text/javascript" src="/static/charts.js"></script>
    <script type="text/javascript">
    {{ fw.make_options_js('get_total_data',
                          'get_single_data',
                          'plot_single_data_charts') }}
    $('ul.nav>li').first().addClass('active');
    </script>

    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.highlighter.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.pointLabels.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>

{% endblock %}
