{% extends "base.html" %}
{% import "framework.html" as fw %}

{% block style %}
    {{ super() }}

    <style type="text/css">
        .center {
            width: 1200px;
            margin: 0 auto;
        }

        .plot-div {
            width: 1050px;
            height: 500px;
            margin: 0 auto;
        }

        .plot-parent {
            width: 1200px;
            height: 550px;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block body_content %}
    {{ super() }}

    <div id="main" class="container center">
        <div id="total_overview_div" class="plot-div" style="padding-top: 50px; padding-left: 75px">
            {{ fw.place_indicator('indicator_total_overview') }}
        </div>

        {% for main, subs in [
                ('line', ('overview', 'live', 'live2', 'map', 'map2', 'query')),
                ('news', ('overview', 'detail', 'list')),
                ('param', ('overview', 'pget')),
                ('stop', ('overview', 'lines', 'list4name', 'nearby', 'stoplist')),
                ('stop2stop', ('overview', 'lines4less', 'name2id'))] %}
            {{ fw.make_tab(main, subs) }}
        {% endfor %}

        <div id="client_div" class="plot-div">
            {{ fw.place_indicator('indicator_client') }}
        </div>

    </div>
{% endblock %}


{% block bootstrap_js_bottom %}
    {{ super() }}

    <script type="text/javascript" src="/static/charts.js"></script>
    <script type="text/javascript">
    $('ul#nav-bar>li:nth-child(3)').addClass('active');

    $.post('get_weekly_data', {}, function (data) {
        console.log(data);
    });

    (function () {
        var charts = {
            stop: {},
            line: {},
            news: {},
            stop2stop: {},
            total: {},
            client: undefined,
            param: {}
        };

        clear_charts();

        $.post('get_weekly_data', {}, function (data) {
            var ticks = data['ticks'];
            var my_line_chart = with_ticks(ticks);

            $('#indicator_client').hide();
            charts["client"] = my_line_chart(make_title('client', data['client']),
                                             'client_div',
                                             [data['client']]);
            $('#indicator_total_overview').hide();
            charts["client"] = my_line_chart(make_title('total_overview', data['total_requests_per_day']),
                                             'total_overview_div',
                                             [data['total_requests_per_day']]);

            $('#main').bind('shown', function (e) {
                var series = e.target.href.split('#');
                series = series[1].split('_');
                series.pop();

                if (!charts[series[0]][series[1]]) {
                    console.log(series[0] + '_' + series[1]);
                    $('#indicator_' + series[0] + '_' + series[1]).hide();
                    charts[series[0]][series[1]] = my_line_chart(make_title(series[0] + '!' + series[1],
                                                                            data[series[0]][series[1]]),
                                                                 series[0] + '_' + series[1] + '_div',
                                                                 [data[series[0]][series[1]]]);
                } else {
                    charts[series[0]][series[1]].replot();
                }
            });
            $('div[id*="overview"]').each(function () {
                var series = $(this).attr('id').split('_');
                series.pop();

                if (!(this.id === 'total_overview_div')) {
                    $('#indicator_' + series[0] + '_' + series[1]).hide();
                    charts[series[0]][series[1]] = my_line_chart(make_title(series[0] + '!' + series[1],
                                                                            data[series[0]][series[1]]),
                                                                 series[0] + '_' + series[1] + '_div',
                                                                 [data[series[0]][series[1]]]);
                }
            });
        });
    })();

    </script>

    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.highlighter.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.pointLabels.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>

{% endblock %}

