{% extends "base.html" %}
{% import "framework.html" as fw %}

{% block style %}
    {{ super() }}

    <style type="text/css">
        .center {
            width: 1200px;
            margin: 0 auto;
        }

        .plot-div {
            width: 1050px;
            height: 500px;
            margin: 0 auto;
        }

        .plot-parent {
            width: 1200px;
            height: 550px;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block body_content %}
    {{ super() }}

    <div id="main" class="container center">
        <div id="total_overview_div" class="plot-div" style="padding-top: 50px; padding-left: 75px">
            {{ fw.place_indicator('indicator_total_overview') }}
        </div>

        {% for main, subs in [
                ('line', ('overview', 'live', 'live2', 'map', 'map2', 'query')),
                ('news', ('overview', 'detail', 'list')),
                ('param', ('overview', 'pget')),
                ('stop', ('overview', 'lines', 'list4name', 'nearby', 'stoplist')),
                ('stop2stop', ('overview', 'lines4less', 'name2id'))] %}
            {{ fw.make_tab(main, subs) }}
        {% endfor %}

        <div id="client_div" class="plot-div">
            {{ fw.place_indicator('indicator_client') }}
        </div>

    </div>
{% endblock %}


{% block bootstrap_js_bottom %}
    {{ super() }}

    <script type="text/javascript" src="/static/charts.js"></script>
    <script type="text/javascript">
    $('ul#nav-bar>li:nth-child(3)').addClass('active');

    var charts = {
        stop: {},
        line: {},
        news: {},
        stop2stop: {},
        total: undefined,
        client: undefined,
        param: {}
    };
    plot_weekly_data_charts(charts);

    </script>

    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.highlighter.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.pointLabels.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script type="text/javascript" src="/static/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>

{% endblock %}

